form.file-headers {
    display: inline-block;
    width: 100%;
}

form.file-headers h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

form.file-headers h3:not(:first-of-type) {
    border-top: 1px solid gray;
    margin-top: 20px;
    padding-top: 20px;
}

form.file-headers ul {
    width: calc(100% - 50px);
    margin-top: 10px;
}

form.file-headers ul li {
    margin-bottom: 20px;
}

form.file-headers ul li:not(:first-child) {
    margin-left: 40px;
}

form.file-headers ul li label {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: black;
    margin-left: 10px;
}

form.file-headers .option {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 20px;
}

form.file-headers .option:last-of-type {
    margin-bottom: 40px;
}

form.file-headers .option:not(:last-of-type) {
    margin-top: 20px;
}

form.file-headers .option *:first-child {
    margin-right: 20px;
}

form.file-headers .option *:not(:first-child) {
    margin-left: 10px;
}

form.file-headers .option p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: black;
}

form.file-headers .option input[type=number], form.file-headers .option input[type=text] {
    width: 200px;
    border: solid 1px #767676;
    border-radius: 5px;
    padding: 5px;
}

form.file-headers .option input[type=checkbox]:not(:checked) ~ p {
    color: rgba(1, 1, 1, 0.7);
}

form.file-headers .option input[type=checkbox]:not(:checked) ~ input[type=number] {
    background-color: #e4e4e4;
    pointer-events: none;
}

form.file-headers .query input[type=text] {
    position: relative;
    width: 600px;
    transition: background-color ease 0.5s;
}

form.file-headers .query input[type=text].error {
    background-color: #ffd3d3;
}

form.file-headers .option .outlier-checkboxes {
    flex-wrap: wrap;
    margin-top: 10px;
}

form.file-headers .option .outlier-checkboxes > div {
    margin-bottom: 10px;
}

div[name=data-refiner] .panel .actions {
    flex-wrap: wrap;
    border-top: solid 1px gray;
    margin-top: 20px;
    padding-top: 20px;
}